<!-- Successful sign up -->

<%= stylesheet_link_tag('login-style')%> 

<!DOCTYPE html>
<html>
<body>
<h3>ERROR: Invalid Credentials</h3>
<h2>Please make sure your credentials are correct.</h2>
</body>
</html>