<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - MVRF</title>
    <%= stylesheet_link_tag ('about_us_style') %>
</head>
<body>

<!-- navigation bar -->
<div class="navbar">
    <a href="index.html">Home</a>
    <a href="search.html">FAQs</a>
    <a href="login.html">Login</a>
    <a href="about-us.html">About Us</a>
    <a href="my-account.html">My Account</a>
</div>

<h1>mvrf, "Metro Vancouver Restaurant Finder"</h1>

<h2>About Us</h2>

<section>
    <div class="image-container">
        <img src="./about-us-images/Revolving-Restaurant-Image.jpeg" alt="Revolving restaurant in Vancouver" style="width:10000px;">
        <div class="overlay-text">Our aim is to help find people find new restaurants in their area that fit their lifestyle</div>
    </div>
    
    <div class="image-container">
        <img src="./about-us-images/Vancouver-Map.jpg" alt="Map of Vancouver" style="width:10000px;">
        <div class="overlay-text">Search for restaurants in the usual way by looking at locale, price, and user reviews</div>
    </div>
    
    <div class="image-container">
        <img src="./about-us-images/Bread.jpg" alt="Bread" style="width:10000px;">
        <div class="overlay-text">Additionally, users with dietary restrictions can be confident they will find restaurants to suit their needs and tastes</div>
    </div>
    
    <div class="image-container">
        <img src="./about-us-images/Food-Allergens.jpg" alt="Food allergy signage" style="width:10000px;">
        <div class="overlay-text">Search for restaurants that have menus with good allergy friendly, gluten-free, vegan options, and more</div>
    </div>
    
    <div class="image-container">
        <img src="./about-us-images/Italian-Food.jpg" alt="Italian Food" style="width:10000px;">
        <div class="overlay-text">Search for restaurants that serve your preferred cuisine</div>
    </div>
    
    <div class="image-container">
        <img src="./about-us-images/Vancouver-Restaurant.jpg" alt="Vancouver restaurant" style="width:10000px;">
        <div class="overlay-text">Save your favourite restaurants so you never forget where you like to eat</div>
    </div>
    
    <div class="image-container">
        <img src="./about-us-images/Five-Stars.jpg" alt="Five stars" style="width:10000px;">
        <div class="overlay-text">Post reviews to help others find restaurants they might enjoy</div>
    </div>
</section>

<section>
    <div class="button-container">
        <a href="login.html" class="sign-up-now">Sign Up Today!</a>
    </div>

</section>

</body>
</html>
