<!-- Title -->
<h1>Frequently Asked Questions</h1>

<!-- Subheading -->
<h2>Let us help you!</h2>

<!-- Questions Part -->
<ul class="faq">
    <li>
        <input type="checkbox" id="faq1" class="faq-checkbox">
        <label class="q" for="faq1">
            <span class="arrow"></span>
            <span>Can I use the MVRD Restaurant Finder outside of Metro Vancouver?</span>
        </label>
        <div class="ans">
            <p>The MVRD Restaurant Finder primarily focuses on Metro Vancouver but may include nearby areas to some extent.
            </p>
        </div>
    </li>
    <li>
        <input type="checkbox" id="faq2" class="faq-checkbox">
        <label class="q" for="faq2">
            <span class="arrow"></span>
            <span>Is the information on the platform always accurate and current?</span>
        </label>
        <div class="ans">
            <p>We strive to maintain accurate and up-to-date restaurant information through regular updates and user contributions.
            </p>
        </div>
    </li>
    <li>
        <input type="checkbox" id="faq3" class="faq-checkbox">
        <label class="q" for="faq3">
            <span class="arrow"></span>
            <span>Is my personal information safe when using the platform?</span>
        </label>
        <div class="ans">
            <p>Yes, we have strict privacy and security measures in place to protect user data, as outlined in our Privacy Policy.
            </p>
        </div>
    </li>
    <li>
        <input type="checkbox" id="faq4" class="faq-checkbox">
        <label class="q" for="faq4">
            <span class="arrow"></span>
            <span>Can I search for specific types of cuisine or food?</span>
        </label>
        <div class="ans">
            <p>Yes, you can use filters to search for restaurants based on cuisines or food types.
            </p>
        </div>
    </li>
    <li>
        <input type="checkbox" id="faq5" class="faq-checkbox">
        <label class="q" for="faq5">
            <span class="arrow"></span>
            <span>Can I make reservations through the platform?</span>
        </label>
        <div class="ans">
            <p>Currently, we do not offer a reservation feature, but we provide links or contact information to make reservations directly with restaurants.
            </p>
        </div>
    </li>
    <li>
        <input type="checkbox" id="faq6" class="faq-checkbox">
        <label class="q" for="faq6">
            <span class="arrow"></span>
            <span>How often are new restaurants added?</span>
        </label>
        <div class="ans">
            <p> In general, new restaurants are added ranging from weekly to monthly.
            </p>
        </div>
    </li>
    <li>
        <input type="checkbox" id="faq7" class="faq-checkbox">
        <label class="q" for="faq7">
            <span class="arrow"></span>
            <span>Can I search for restaurants that offer takeout or delivery services?</span>
        </label>
        <div class="ans">
            <p>Yes, you can filter restaurants based on whether they offer takeout or delivery services.
            </p>
        </div>
    </li>
    <li>
        <input type="checkbox" id="faq8" class="faq-checkbox">
        <label class="q" for="faq8">
            <span class="arrow"></span>
            <span>Is there a mobile app for the MVRD Restaurant Finder?</span>
        </label>
        <div class="ans">
            <p>Currently, the MVRD Restaurant Finder is accessible through a website. However, we are actively working on developing a mobile app for a more user-friendly experience on smartphones and tablets.
            </p>
        </div>
    </li>
    <li>
        <input type="checkbox" id="faq9" class="faq-checkbox">
        <label class="q" for="faq9">
            <span class="arrow"></span>
            <span>Are there any discounts for students or seniors?</span>
        </label>
        <div class="ans">
            <p>Discounts and special offers may vary from restaurant to restaurant. You can check individual restaurant listings to see if they offer discounts for students or seniors.
            </p>
        </div>
    </li>
</ul>

<!-- Contact Us form -->
<div class="contact">
    <a href = "/new-contact">Have another inquiry? Contact us!</a>
</div>
