<div class="sidebar">
    <p class="results">Results</p>

    <!--- somehow use embedded ruby for loop to display returned restaurants using the sidebar-element partial-->
</div>

<div class="search-options-bar">
    <!--- use list to display search bar and options in-line with each other
    use form to take user input for search
    open options menu when the options button is selected -->

</div>
