@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@800&family=Open+Sans:wght@700&display=swap');

/* Style for the navigation bar */
 .navbar {
    background-color: #EEBD59;
    overflow: hidden;
}

/* Style for the navigation bar links */
.navbar a {
    font-family: 'Open Sans', sans-serif;
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* On hover, the links change color */
.navbar a:hover {
    background-color: #3B2822;
    color: white;
}

/* Style for the title */
h1 {
    font-family: 'Grandstander', sans-serif;
    text-align: center;
    font-size: 36px; /* Adjust the font size as needed */
    margin-top: 20px; /* Add some space between the title and the navigation bar */
}

h2 {
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
}

/* Style for the blurb */
p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px; /* Adjust the font size as needed */
}

/* Style for the form container */
.form-container {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 20px auto;
    max-width: 300px;
    padding: 30px;
    background-color: #EEBD59;
    border-radius: 20px;
}

/* Style for form input fields and buttons */
.form-input {
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #3B2822;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-button {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px;
    border: 1px solid #3B2822;
    border-radius: 5px;
    cursor: pointer;
}

.form-button:hover {
    background-color: #555;
}

/* Style for the "Create an account" link */
.create-account-link {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-top: 10px;
    color: black;
    text-decoration: underline;
}

.create-account-link:hover {
    color: #8c6d64 !important; /* Add !important to override other styles */
}