        /* Style for the navigation bar */
        .navbar {
            background-color: #EEBD59;
            overflow: hidden;
        }

        /* Style for the navigation bar links */
        .navbar a {
            float: left;
            display: block;
            color: #3B2822;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-family:"Open Sans", sans-serif;
            font-weight: 700;
        }

        /* On hover, the links change color */
        .navbar a:hover {
            background-color: #ddd;
            color: #3B2822;
            
        }

        /* Style for the title */
        h1 {
            text-align: center;
            font-size: 36px; /* Adjust the font size as needed */
            margin-top: 20px; /* Add some space between the title and the navigation bar */
            font-family:"Grandstander", sans-serif;
        }

        /* Style for the sub-heading */
        h2 {
            text-align: center;
            font-size: 24px; /* Adjust the font size as needed */
            margin-top: 20px; /* Add some space between the title and the navigation bar */
            font-family:"Grandstander", sans-serif;
        }

        /* Style for the FAQ list */
        .faq {
            list-style: none;
            max-width: 700px;
            margin: 0 auto;
            padding: 0;
        }

        .faq li {
            background: #f2f2f2;
            border-bottom: 1px #ccc solid;
            margin: 0;
            padding: 0;
        }

        .faq li:first-child {
            border-top: 1px #273b22 solid;
        }

        /* Style for the question label */
        .q {
            padding: 1em 0;
            border-left: 10px #EEBD59 solid;
            cursor: pointer;
            display: block;
            font-family:"Open Sans", sans-serif;
            font-style: normal;
            font-weight: 700;
            font-stretch: 100%;
        }

        .q:hover {
            border-left-color: #9de73d;
            transition: border-color 0.3s;
        }

        .q .arrow {
            display: inline-block;
            width: 0;
            height: 0;
            margin: 0 0.5em;
            border-top: 6px solid transparent;
            border-left: 10px solid #555;
            border-bottom: 6px solid transparent;
            transition: transform 0.3s;
        }

        .q:hover .arrow {
            transform: rotate(90deg);
        }

        /* Style for the answer */
        .ans {
            max-height: 0;
            overflow: hidden;
            padding: 0 1em 0 2em;
            transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
            font-family:"Open Sans", sans-serif;
        
            font-weight: 400;
        }

        .faq-checkbox {
            display: none;
        }

        .faq-checkbox:checked + .q + .ans {
            max-height: 100px;
            padding: 1em 1em 1em 3em;
            transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
        }