<!-- Unsuccessful sign up -->

<%= stylesheet_link_tag('login-style')%> 

<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h3>Something went wrong during the sign-up process.</h3>
<p>Please try again. Make sure your username is unique and your password is at least 8 characters.</p>
</body>


</html>