<% stylesheet_link_tag('my-account_style')%>  

<% @current_user = User.find_by_id(session[:user_id]) %>

<!-- Title -->
<h1>mvrf</h1>

<h2>My Account</h2>

<!-- Blurb -->
<p>Configure account settings and access role-specific functions.</p>


<!-- Content of the page goes here -->

<section class="accinfo_cont">
    <h2>My Information</h2>
    <p>Email: </p>
    <p>Username: <%= @current_user.username %></p>
    <p>Change Password</p>

</section>

<section class="accinfo_cont">
    <h2>My Preferences</h2>
    <p>Edit Preferences</p>
</section>

<section class="accinfo_cont"> <!-- will be hidden later --> 
    <h2>My Restaurants</h2>
    <p>Own a Restaurant?</p> 
</section>

<div class="form-container">
    <%=form_tag '/logout' do %>
    <%=submit_tag "Log Out", class: "form-button"%>
    <% end %>
</div>



</body>
</html>
