 <%= stylesheet_link_tag('navbar')%> 

 <% @current_user = User.find_by_id(session[:user_id]) %>

<nav class="navbar">
    <h1><a href="/" class = "logo">mvrf</a></h1>
    <a class="hamburger-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <div class = "nav-items">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/search">Search</li>
            <li><a href="/faqs">FAQs</a></li>
            <li><a href="/about-us">About Us</a></li>
            <% if @current_user %>
              <li><a href="/my-account" class="log-in-button"><%= "My Account" %></a></li>
            <% else %>
              <li><a href="/login" class="log-in-button">Log In</a></li>
            <% end %>
        </ul>
    </div>
</nav>

<script>
    const hamburgerMenu = document.getElementsByClassName('hamburger-menu')[0]
    const navbarItems = document.getElementsByClassName('nav-items')[0]

    hamburgerMenu.addEventListener('click', () => {
    navbarItems.classList.toggle('active')
    })
</script>
