<button class="sidebar-element">
    <p class="restaurant-name">Test Name</p>

    <div class="address-ratings">
        <p class = "address">8888 Univeristy Drive, BC, PostCode |</p>
        <p class = "ratings">4.3</p>
    </div>

    <div class="tags-cuisine">
        <ul class="tags">
            <li class="list-item">peanut free</li>
            <li class="list-item">, </li>
            <li class="list-item">vegan</li>
        </ul>

        <p class="cuisine">Cuisine: Italian</p>
    </div>
</button>