<!-- Title -->
<h1>Login</h1>

<!-- Blurb -->
<p>Log in to access your saved dietary preferences and favourite restaurants!</p>

<div class="form-container">
    <h2>Welcome Back!</h2>
    <form id="login-form">
        <input type="text" class="form-input" id="username" placeholder="Username" required>
        <input type="password" class="form-input" id="password" placeholder="Password" required>
        <button type="submit" class="form-button">Log In</button>
    </form>
    <div class="create-account-link">
        <a href="sign-up.html" class="create-account-link">Not registered? Create an account</a>
    </div>
</div>




</body>
</html>
