<!-- Title -->
<h1>mvrf</h1>

<h2>My Account</h2>

<!-- Blurb -->
<p>Configure account settings and access role-specific functions.</p>


<!-- Content of the page goes here -->

<section class="accinfo_cont">
    <h2>My Information</h2>
    <p>email: </p>
    <p>username: </p>
    <p>change password</p>

</section>

<section class="accinfo_cont">
    <h2>My Preferences</h2>
    <p>list of preferences here</p>
    <p>edit preferences</p>
</section>

<section class="accinfo_cont"> <!-- will be hidden later --> 
    <h2>My Restaurants</h2>
    <p>own a restaurant?</p> 
</section>

</body>
</html>
