<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - MVRF</title>
    <link href="login-style.css" rel="stylesheet">
</head>
<body>

<!-- Navigation Bar -->
<%= render "shared/navbar"%>
<!-- Title -->
<h1>Sign Up for mvrf!</h1>

<!-- Blurb -->
<p>Let's get started! Input your information below.</p>

<div class="form-container">
    <h2>Sign Up</h2>
    <form id="login-form">
        <div>
            <input type="text" class="form-input" id="username" placeholder="Username" required>
            <div class="input-info">Usernames must be between 3-12 characters in length. Alphanumeric characters only.</div>
        </div>
        <div>
            <input type="text" class="form-input" id="email" placeholder="E-mail" required>
            <div class="input-info">You will be required to verify this email.</div>
        </div>
        <div>
            <input type="password" class="form-input" id="password" placeholder="Password" required>
            <div class="input-info">Your password must be between 8-16 characters in length.</div>
        </div>
        <div>
            <input type="password" class="form-input" id="password-confirm" placeholder="Confirm Password" required>
        </div>
        <button type="submit" class="form-button">Sign Up</button>
    </form>
</div>

<script>
    const inputElements = document.querySelectorAll('.form-input');

    inputElements.forEach((inputElement) => {
        const inputInfo = inputElement.nextElementSibling;

        inputElement.addEventListener('focus', () => {
            inputInfo.style.display = 'block';
        });

        inputElement.addEventListener('blur', () => {
            inputInfo.style.display = 'none';
        });
    });
</script>




</body>
</html>
