<h1>Site Administrator Dashboard</h1>

<h2 id="admin-h2">Welcome, <%= current_admin.username %>!</h2>
<h3 id="admin-h3">Choose your desire action below:</h3>

<div class = "admin-actions">
    <ul>
        <li><a href="/user_status" id="admin-user-status">User Status</a></li>
        <li><a href="/role_verification" id="admin-role-verification">Role Verification</a></li>
        <li><a href="/admin-restaurant_info" id="admin-restaurant-review">Restaurant Review</a></li>
        <li><a href="/admin-restaurant_review" id="admin-restaurant-info">Restaurant Information</a></li>
    </ul>
</div>

<%=submit_tag "Log Out", class: "admin-logout"%>