<h1>User Status</h1>

<% if @users.present?%>
    <table>
        <tr>
            <th>Username</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
            <% @users.each do |user| %>
                <tr>
                    <td><%= user.username%></td>
                    <td><%= user.username%></td>
                    <td><%= submit_tag "Ban"%></td>
                </tr>
            <% end %>
</table>
<%else%>
    <p>No users found in Database.</p>
<% end %>