<h1>User Status</h1>

<% if @users.present?%>
    <table>
        <tr>
            <th>Username</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
            <% @users.each do |user| %>
                <tr>
                    <td><%= user.username%></td>
                    <td><%= user.banned? ? 'Banned' : 'Active' %></td>
                    <% if user.banned? %>
                        <td><%=button_to "Unban",unban_user_path(user), method: :post%></td>
                    <% else %>
                        <td><%=button_to "Ban",ban_user_path(user), method: :post%></td>
                    <% end %>
                </tr>
            <% end %>
</table>
<%else%>
    <p>No users found in Database.</p>
<% end %>