@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@800&family=Open+Sans:wght@700&display=swap');

<<<<<<< HEAD
body{
    background-color: #FFFCF7;;
}
.hero{
    display: relatives;
=======
.hero{
    display: flex;
    margin-top: 10%;
>>>>>>> 65b7c99840dfd2ebaf72505b3ac4af028177aa25
}
.intro-grid{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
}

.hero-img img{
    position: relative;
    max-width: 88%;
    height: 90%;
    left: 15%;
    bottom: 8%;
    top: 0;
}

.hero-text{
    position: relative;
<<<<<<< HEAD
    text-align: left;
}
=======
    top: -0.25%;
    left: 8%;
}

/* Chow Down on Your Faves...*/
.intro-line-one{
    font-family: "Grandstander", sans-serif;
    display: relative;
    font-size: 1.5rem;
    letter-spacing: 2px;
    padding-left: 10px;
    padding-top: 20px;

    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #EEBD59;
}

/* "Crafted for your" + "&"*/
.intro-line-two, .intro-line-t1{
    font-family:"Grandstander", sans-serif;
    display: relative;
    font-size: 4.5rem;
    color: #3B2822;
    text-decoration: none;
    margin: 0;
    padding-top: 20px;
    line-height: 100%;
}
/* "Dietary Preference" + "Food Allergies" */
.intro-line-three, .intro-line-t2{
    font-family:"Grandstander", sans-serif;
    display: relative;
    font-size: 6rem;
    color: #3B2822;
    text-decoration: none;
    margin: 0;
    padding-top: 20px;
    line-height: 110%;
}

/* "& Food Allergies"*/
.intro-line-t1, .intro-line-t2{
    display: inline-block;
    letter-spacing: 0.1rem;
}

/*Grid for Sign Up and Search Restaurant*/
.main-bar-grid{
    display: grid;
    width: 40%;
    grid-template-columns: 1fr 1fr;
    margin-top: -22%;
    margin-left: 50px;
}
.main-bar{
    position: relative;
    text-align: center;
    padding-top: 5.5%;
}

.sign-up-button{
    font-family:"Open Sans", sans-serif;
    font-size: 1.5rem;
    background-color: #EEBD59;
    color: #3B2822;
    font-weight: bold;
    text-decoration: none;
    border: 0.3rem solid;
    
    padding: 10px;
    border-radius: 30px;
    width: 55%;
    margin-right: 1%;
}

.search{
    font-family:"Open Sans", sans-serif;
    font-size: 1.5rem;
    background-color: white;
    color: #3B2822;
    font-weight: bold;
    text-decoration: none;
    border: 0.3rem solid;
    
    padding: 10px;
    border-radius: 30px;
    margin-left: -40%;
    margin-right: 8%;
}
.search-button{
    background-color: white;
    color: #3B2822;
    text-decoration: none;
}

/*////////////////////RESPONSIVE DIMENSION//////////////////////////*/
@media (max-width: 1810px){
    .intro-line-two, .intro-line-t1 {
        font-size: 3.75rem;
    }

    .intro-line-three, .intro-line-t2{
        font-size: 5rem;
    }

    .hero-img img{
        max-width: 88%;
        height: 82%;
        transform: translateY(-10%);
    }

    .main-bar-grid{
        padding-top: 2.5%;
    }

}

@media (max-width: 1690px){
    .hero-text{
        padding-top: 1%;
    }
    .intro-line-one{
        font-size: 1.2rem;
    }

    .intro-line-two, .intro-line-t1 {
        font-size: 3.5rem;
    }

    .intro-line-three, .intro-line-t2{
        font-size: 5rem;
    }
    .main-bar-grid{
        padding-top: 2.55%;
    }
    .sign-up-button{
        font-size: 1.35rem;
        border-radius: 35px;
    }
    .search{
        font-size: 1.35rem;
        border-radius: 35px;
    }
    .hero-img img{
        padding-top: 3.5%;
    }
}

@media (max-width: 1590px){
    .intro-line-two, .intro-line-t1 {
        font-size: 3.25rem;
    }
    .intro-line-three, .intro-line-t2{
        font-size: 4.5rem;
    }
    .hero-img img{
        max-width: 85%;
        height: 80%;
        padding-top: 5.5%;
    }
    .main-bar-grid{
        margin-top: -24%;
    }
}

@media (max-width: 1530px){
    .main-bar-grid{
        padding-top: 4.7%;
    }
    .hero-img img{
        transform: translateY(-7%);
    }
}

@media (max-width: 1445px){
    .intro-line-one{
        font-size: 1rem;
        margin-left: -1.2%;
    }
    .intro-line-two, .intro-line-t1 {
        font-size: 2.75rem;
    }
    .intro-line-three, .intro-line-t2{
        font-size: 3.75rem;
    }
    .sign-up-button{
        font-size: 1.25rem;
    }
    .search{
        font-size: 1.25rem;
    }
    .hero-text{
        padding-top: 4%;
    }
    .hero-img img{
        padding-top: 7%;
    }
    .sign-up-button{
        margin-left: 1%;
    }
}

@media (max-width: 1345px){
    .hero-text{
        padding-left: 1%;
    }
    .intro-line-two, .intro-line-t1 {
        font-size: 2.6rem;
    }
    .intro-line-three, .intro-line-t2{
        font-size: 3.6rem;
    }   
    .main-bar-grid{
        transform: translateY(30%);
    }
    
}

@media (max-width: 1290px){
    .sign-up-button{
        font-size: 1.15rem;

    }
    .search{
        font-size: 1.15rem;
    }
}

@media (max-width: 1188px){
    .intro-line-two, .intro-line-t1 {
        font-size: 2.3rem;
    }
    .intro-line-three, .intro-line-t2{
        font-size: 3.3rem;
    }
    .hero-img img{
        padding-top: 15%;
        top: 0;
        transform: translateY(-7%);
        max-width: 88%;
        height: 90%;

    }
    .hero-text{
        padding-top: 12%; 
    }
    .main-bar-grid{
        transform: translateY(30%);
    }
}

@media (max-width: 1044px){
    .hero-img img{
        transform: translateY(5%);
    }
    .hero-text{
        transform: translateY(4%);
    }
    .main-bar-grid{
        transform: translateY(70%);
    }
}

@media (max-width: 1034px){
    .intro-line-one{
        font-size: 0.9rem;
        margin-left: -1.2%;
    }
    .intro-line-two, .intro-line-t1 {
        font-size: 2.1rem;
    }
    .intro-line-three, .intro-line-t2{
        font-size: 3.1rem;
    }
}

@media (max-width: 975px){
    body{
        overflow: visible;
    }
    .hero-text{
        transform: translateY(14%);
    }
    .intro-line-two, .intro-line-t1 {
        font-size: 2rem;
    }
    .intro-line-three, .intro-line-t2{
        font-size: 3rem;
    }
    .main-bar-grid{
        margin-left: 38px;
        transform: translateY(90%);
    }
    .search{
        font-size: 1rem;
    }
    .sign-up-button{
        font-size: 1rem;
    }
    .hero-img img{
        max-width: 80%;
        height: 100%;
        transform: translateX(-12%);
    }
}

@media (max-width: 945px){
    .hero-img img{
        grid-area: hero-img;
    }
    .hero-text{
        grid-area: hero-text;
        padding-top: 0;
    }
    .intro-grid{
        grid-template-columns: 1fr;
        grid-template-areas:
        'hero-img'
        'hero-text';
    }
    .hero-img img{
        width: clamp(10rem, 27rem, 30rem);
        left: 31%;
        padding-top: 5%;
    }
    .intro-line-one{
        padding-top: 0;
    }
    .intro-line-two, .intro-line-three{
        display: inline;
    }
    .main-bar-grid{
        margin-top: -12%;
        margin-left: 70px;
    }   
}

@media (max-width: 815px){
    .search{
        font-size: 0.9rem;
        margin-left: -19%;
        margin-right: -25%;
    }
    .sign-up-button{
        font-size: 0.9 rem;
        margin-right: 0;
        width: 72%;
    }
    .intro-line-two, .intro-line-t1 {
        font-size: 1.75rem;
    }
    .intro-line-three, .intro-line-t2{
        font-size: 3rem;
    }
}

@media (max-width: 662px){
    .intro-line-two, .intro-line-three{
        display: block;
    }
    .hero-img img{
        width: clamp(10rem, 20rem, 25rem);
        padding-top: 13%;
        padding-bottom: 5%;
    }
    .main-bar-grid{
        margin-left: 55px;
    }
}

@media (max-width: 640px){
    .main-bar-grid{
        width: 52%;
    }
}

@media (max-width: 520px){
    .intro-line-one{
        font-size: 0.75rem;
    }
    .intro-line-two, .intro-line-t1 {
        font-size: 1.3rem;
    }
    .intro-line-three, .intro-line-t2{
        font-size: 2.5rem;
    }
    .search{
        font-size: 0.9rem;
        margin-left: -10%;
        margin-right: -107%;
    }
    .sign-up-button{
        font-size: 0.9rem;
        width: 90%;
        margin-left: -16%;
    }
}

@media (max-width: 460px){
    .hero-img img{
        transform: translateX(-17%);
    }
}

@media (max-width: 390px){
    .intro-line-one{
        font-size: 0.7rem;
    }
    .intro-line-two, .intro-line-t1 {
        font-size: 1.2rem;
    }
    .intro-line-three, .intro-line-t2{
        font-size: 2.2rem;
    }
    .search{
        font-size: 0.7rem;
    }
    .sign-up-button{
        font-size: 0.7rem;
        width: 100%;
    }
    .main-bar-grid{
        transform: translateY(100%);
    }
}

@media (max-width: 366px){
    .search{
        font-size: 0.7rem;
        margin-left: 9px;
    }
    .sign-up-button{
        font-size: 0.7rem;
        width: 120%;
    }
    .main-bar-grid{
        margin-left: 37px;
    }
}
>>>>>>> 65b7c99840dfd2ebaf72505b3ac4af028177aa25
