@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@800&family=Open+Sans:wght@700&display=swap');
<<<<<<< HEAD

=======
>>>>>>> 65b7c99840dfd2ebaf72505b3ac4af028177aa25
*{
    box-sizing: border-box;
}

<<<<<<< HEAD
body{
    margin: 0;
    padding: 0;
    background-color: #FFFCF7;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
=======
body {
    overflow: hidden;/*remove scroll bar*/
    background-color: #FFFCF7;
}

.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: #FFFCF7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.name {
>>>>>>> 65b7c99840dfd2ebaf72505b3ac4af028177aa25
    font-family:"Grandstander", sans-serif;
    font-size: 4rem;
    color: #3B2822;
    text-decoration: none;
    font-weight: 700;
<<<<<<< HEAD
    margin: 2.5rem;
}

.nav-items ul{
    margin: 2rem;
    padding: 0;
    display: flex;
}

.nav-items li{
    list-style: none;
}

.navbar li a{
=======
    margin-left: -0.67%;
}

.navbar a{
>>>>>>> 65b7c99840dfd2ebaf72505b3ac4af028177aa25
    font-family:"Open Sans", sans-serif;
    position: relative;
    font-size: 20px;
    color: #3B2822;
    font-weight: 500;
    text-decoration: none;
    margin-right: 40px;
<<<<<<< HEAD
}

.navbar li a::before{
=======
    flex-wrap: wrap;
}

.navbar a::before{
>>>>>>> 65b7c99840dfd2ebaf72505b3ac4af028177aa25
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #3B2822;
    transition: .5s;
}

<<<<<<< HEAD
.navbar li a:hover::before{
=======
.navbar a:hover::before{
>>>>>>> 65b7c99840dfd2ebaf72505b3ac4af028177aa25
    width: 100%;
}

.log-in-button:hover::before{
    content: none;
}

.log-in-button{
    font-family:"Grandstander", sans-serif;
    background-color: #EEBD59;
    color: #3B2822;
    text-decoration: none;
    border: 0.2rem solid;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
}

<<<<<<< HEAD
.hamburger-menu{
    position: absolute;
    top: 2.3rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 20px;
}

.hamburger-menu .bar{
    height: 3px;
    width: 100%;
    background-color: #3B2822;
    border-radius: 10px;
}

@media (max-width: 800px){
    .hamburger-menu {
        display: flex;
    }

    .nav-items {
        display: none;
        width: 100%
    }

    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-items ul{
        width: 100%;
        flex-direction: column;
    }

    .nav-items li{
        text-align: left;
        /* border-bottom: 0.2px dotted #3B2822; */
    }

    .nav-items li a{
        line-height: 3.3rem;
    }

    .log-in-button{
       border: none;
       border-radius: none;
       padding: 0;
       background-color: transparent;
       font-weight: normal;
    }

    .log-in-button:hover::before{
        content: '';
    }

    .nav-items.active{
        display: inline;
=======
.hamburger{
    background-color: #EEBD59;
    color: #3B2822;
    border-radius: 5px;
    font-size: 23px;
    cursor: pointer;
    display: none;
    float: right;
    margin-left: 85%;
}
.hamburger:focus{
    outline: none;
}

/*Reponsive*/
@media (max-width: 1810px) {
    .navbar a{
        font-size: 19.5pxthe;
    }
    .name{
        font-size: 3.5rem;
    }
}

@media (max-width: 1446px){
    .navbar a{
        font-size: 18px;
    }
    .name{
        font-size: 3.5rem;
    }   
}

@media  (max-width: 1345px){
    .navbar a{
        font-size: 17px;
    }
    .name{
        font-size: 3.3rem;
    }  
}

@media (max-width: 1044px){
    .navbar a{
        font-size: 16px;
    }
    .name{
        font-size: 3.1rem;
    } 
}

/*Responsive hamburger Menu*/
@media screen and (max-width: 838px){
    .navbar a{
        display: none;
    }
    .hamburger{
        display: block;
>>>>>>> 65b7c99840dfd2ebaf72505b3ac4af028177aa25
    }
}