@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@800&family=Open+Sans:wght@700&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #FFFCF7;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-family:"Grandstander", sans-serif;
    font-size: 4rem;
    color: #3B2822;
    text-decoration: none;
    font-weight: 700;
    margin: 2.5rem;
}

.nav-items ul{
    margin: 2rem;
    padding: 0;
    display: flex;
}

.nav-items li{
    list-style: none;
}

.navbar li a{
    font-family:"Open Sans", sans-serif;
    position: relative;
    font-size: 20px;
    color: #3B2822;
    font-weight: 500;
    text-decoration: none;
    margin-right: 40px;
    white-space: nowrap;
}

.navbar li a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #3B2822;
    transition: .5s;
}

.navbar li a:hover::before{
    width: 100%;
}

.log-in-button:hover::before{
    content: none;
}

.log-in-button{
    font-family:"Grandstander", sans-serif;
    background-color: #EEBD59;
    color: #3B2822;
    text-decoration: none;
    border: 0.2rem solid;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    white-space: nowrap;
}

.hamburger-menu{
    position: absolute;
    top: 2.3rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 20px;
}

.hamburger-menu .bar{
    height: 3px;
    width: 100%;
    background-color: #3B2822;
    border-radius: 10px;
}

@media (max-width: 800px){
    .hamburger-menu {
        display: flex;
    }

    .nav-items {
        display: none;
        width: 100%
    }

    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-items ul{
        width: 100%;
        flex-direction: column;
    }

    .nav-items li{
        text-align: left;
        /* border-bottom: 0.2px dotted #3B2822; */
    }

    .nav-items li a{
        line-height: 3.3rem;
    }

    .log-in-button{
       border: none;
       border-radius: none;
       padding: 0;
       background-color: transparent;
       font-weight: normal;
    }

    .log-in-button:hover::before{
        content: '';
    }

    .nav-items.active{
        display: inline;
    }
}