@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@800&family=Open+Sans:wght@700&display=swap');

.main-content {
    height: 750px;
    width: 95%;
    margin: auto;
}

.sidebar {
    /* make this scrollable vertically */
    background-color: #EEBD59;
    width: 25%;
    height:fit-content;
    max-height: 750px;
    overflow-x: hidden;
    overflow-y: auto;
    float: left;
}

.results {
    font-size: 20px;
}

.search-options-bar {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: center;
}
#search {
    padding: 12px;
    width: 1350px;
    font-size: 20px;
    margin: 5px;
    position: relative;
}

.filters-button {
    background-color: #EEBD59;
    width: auto;
    color: black;
    padding: 14px;
    margin: 5px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    position: relative;
}

.sorting-button {
    background-color: #EEBD59;
    width: auto;
    color: black;
    padding: 14px;
    font-size: 20px;
    border: none;
    margin: 5px;
    cursor: pointer;
    position: relative;
}

.sorting-button:hover {
    background-color: #b98825;
}

.filters-button:hover {
    background-color: #b98825;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin: 1px;
}

.filters-content {
    background-color: white;
    display: none;
    position: absolute;
    z-index: 1;
}

.sorting-methods {
    background-color: white;
    display: none;
    position: absolute;
    z-index: 1;
}

.show {display:block}

.large-view {
    width: 75%;
    float: right;
    height: 750px;
    max-height: 750px;
    overflow-x: hidden;
    overflow-y: auto;
}