@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@800&family=Open+Sans:wght@700&display=swap');

.sidebar {
    /* make this scrollable vertically */
    background-color: #EEBD59;
    width: 400px;
    height: 1000px;
}